<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users Details Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/Admin/Users.css}">
</head>
<body>

<div class="container">

    <!-- Back button -->
    <div class="back-container">
        <a th:href="@{/AdminDashboard}" class="back-btn">⬅️ Back</a>
    </div>

    <h2>Users List</h2>

    <div class="table-container">
        <table>
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>Email</th>
                <th>Password</th>
                <th>Phone</th>
                <th>City</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>

            <tr th:each="user : ${userList}">
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>

                
                <td>••••••</td>

                <td th:text="${user.phoneNumber}"></td>
                <td th:text="${user.city}"></td>
                <td th:text="${user.address}"></td>
                <td class="actions">
                    <a th:href="@{/EditUser(id=${user.id})}" class="button edit">✏️</a>
                    <a th:href="@{/deleteUser(id=${user.id})}"
                    onclick="return confirm('Delete this user?');"
                    class="button delete">🗑️</a>
                </td>
            </tr>
        </table>
    </div>

    <h2>Add New User</h2>

    <form method="post" th:action="@{/addUser}" th:object="${user}">
        <input type="text" th:field="*{firstName}" placeholder="First Name" required>
        <input type="text" th:field="*{lastName}" placeholder="Last Name" required>
        <input type="email" th:field="*{email}" placeholder="Email" required>
        <input type="password" th:field="*{password}" placeholder="Password" required>
        <input type="text" th:field="*{phoneNumber}" placeholder="Phone Number" required>
        <input type="text" th:field="*{city}" placeholder="City" required>
        <input type="text" th:field="*{address}" placeholder="Address" required>

        <input type="submit" value="Add User">
    </form>

</div>

</body>
</html>