<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Add Category</title>
  <link rel="stylesheet" th:href="@{/Admin/AddCategory.css}">
</head>
<body>

  <div class="form-container">
    <a th:href="@{/AdminCategories/Categories}" class="btn-secondary">Back</a>
    <h2>Add New Category</h2>

    <form action="/AdminCategories/AddCategory" method="post" enctype="multipart/form-data">

      <!-- Title -->
      <label for="title">Category Name:</label>
      <input type="text" id="title" name="title" placeholder="Enter category name" required />

      <!-- Image -->
      <label for="image">Select Image:</label>
      <input type="file" id="image" name="image" required />

      <!-- Submit Button -->
      <button type="submit" class="btn">Add</button>
    </form>
  </div>

</body>
</html>
